@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    min-height: 100%;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: purple;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: rgb(182, 36, 182);
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3vw;
}

section > p {
    padding-bottom: 2em;
}

.normal {
    background-color: white;
    color: black;
}

.imagem {
    background-color: purple;
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.377);
    background-attachment: fixed;

}

section.imagem > p {
    width: 500px;
    padding: 5px;
    background-color: rgba(26, 26, 26, 0.349);
    text-shadow: 1px 1px 0px black;
}

#background01 {
    background-image: url('../d012/imagens/background006.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#background02 {
    background-image: url('../d012/imagens/background005.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    background-color: black;
    text-align: center;
    color: purple;
    padding: 10px;
}